.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-nav {
    cursor: pointer;
    position: absolute;
    background: url('./asset/prev.png');
    top: 50%;
    margin-top: -31px;
    left: 10px;
    width: 63px;
    height: 63px;
}

.carousel-next {
    background: url('./asset/next.png');
    right: 10px;
    left: auto;
}

.carousel-slider img {
    width: 100%;
}

.translate-right-enter.translate-right-enter-active {
    animation: slideRightIn .5s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.translate-right-leave.translate-right-leave-active {
    animation: slideRightOut .5s;
}

@keyframes slideRightIn {
    from {transform : translateX(100%)}
    to {transform : translateX(0%)}
}

@keyframes slideRightOut {
    from {transform : translateX(0%)}
    to {transform : translateX(-100%)}
}

.translate-left-enter.translate-left-enter-active {
    animation: slideLeftIn .5s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.translate-left-leave.translate-left-leave-active {
    animation: slideLeftOut .5s;
}

@keyframes slideLeftIn {
    from {transform : translateX(-100%)}
    to {transform : translateX(0%)}
}

@keyframes slideLeftOut {
    from {transform : translateX(0%)}
    to {transform : translateX(100%)}
}