.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-nav {
    cursor: pointer;
    position: absolute;
    background: url('./asset/prev.png');
    top: 50%;
    margin-top: -31px;
    left: 10px;
    width: 63px;
    height: 63px;
}

.carousel-next {
    background: url('./asset/next.png');
    right: 10px;
    left: auto;
}

.carousel-slider img {
    width: 100%
}

.translate-enter {
    transform: translateX(100%);
}

.translate-enter.translate-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in-out;
}

.translate-leave {
    transform: translateX(0);
}

.translate-leave.translate-leave-active {
    transform: translateX(-100%);
    transition: all 500ms ease-in-out;
}
