.hidden {
    display:none;
}

.slide-enter {
/*animation: slideIn 5s;*/
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.slide-enter.slide-enter-active {
 opacity: 1;
}

.slide-leave {
  opacity: 1;
  transition: opacity 500ms ease-i
}

.slide-leave.slide-leave-active {
  opacity: 0;
}

@keyframes slideIn {
   from { transform: translateX(100%); } 
   to { transform: translateX(0%); } 
}

@keyframes slideOut {
   from { transform: translateX(0%); } 
   to { transform: translateX(-100%); } 
}